{% extends "base.html" %}

{% block content %}
<h1>Hello, again!</h1>


<div id="hosting-rules">
  
<h2>Hosting rules</h2>

<ul>

<li>Host must be able to accommodate >= 100 attendees, mostly seated, in a room with a projector. The session can also be repeated over the course of one month with 25 people per week, if your space cannot accommodate a large group. You must commit to accommodating 100 people, either over a month, or in one evening. </li>
<li>There is NEVER ever a sign in sheet unless a building security guard requires and keeps it.</li>
<li>To announce that you're hiring, sponsor food and drinks at a Meetup. This gives you five to ten minutes to talk about what your company does and your current open positions. </li>
<li>Hosting gives you the same five to ten minutes of marketing and job plug time mentioned above, and your staff also gets to attend and mingle with the group.</li>
<li>Hosting does _not_ get you a mailing list of attendees, nor does it give you the right to solicit attendees directly on a one-on-one basis. Your goal should be to encourage attendees to approach you regarding job placement.</li>
<li>Recruiters attending these events must make it clear that they are recruiters, since these events are for developers, and are not for the purposes of solicitation.</li>
<li>So many ask "Can I simply speak for ten minutes and announce that I am hiring?". The answer is no, unless you give something to the community. Everyone is hiring right now, and if we allowed this, the first hour of every Meetup would be filled with announcements of companies hiring. No one wants this. Consider giving something small to the community in exchange for the ability to announce hiring, such as a few lightning talks, an in-depth technical discussion, the purchase of pizza or beer for a Meetup, etc.</li>
<li>Complaints of privacy violations or unwanted/unexpected solicitation, among other things, may get you banned from the group. People are banned in a fully transparent manner. The banning and the reason are clearly stated to the entire group, and usually happen after numerous complaints and/or blatant violations of the rules.</li>

</ul>
  
</div>
{% endblock %}
