{# <!doctype html>
<html>
    <head>
        <title>{% block title %}home{% endblock %} | nyc python</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-reponsive.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <link href="/static/css/style.css" rel="stylesheet">
        <link href="/static/css/font-awesome.min.css" rel="stylesheet">
<link href="/static/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
<link href="/static/css/prettify.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        {% block extra_css %}{% endblock %}
        {% block extra_head_js %}{% endblock %}{# this should be very rarely used. if at all possible, javascript should go at the end of the page
    </head>
    <body data-spy="scroll" data-target=".scroller-spy" data-twttr-rendered="true">

        <header id="sidebar">
          <h2>NYC Python</h2>
          <p>The New York Python Meetup Group</p>
          <nav>
            <ul>
              <li>about</li>
            </ul>
          </nav>
        </header>
        <div class="container-fluid main-content-area">
         {% block content %}{% endblock %}
        </div>
        <script src="/static/foundation.min.js"></script>
        {% block extra_js %}{% endblock %}
    </body>
</html> #}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}home{% endblock %} | nyc python</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-reponsive.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    {% block extra_css %}{% endblock %}
    {% block extra_head_js %}{% endblock %}{# this should be very rarely used. if at all possible, javascript should go at the end of the page #}
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <style type="text/css">

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
         {% block content %}{% endblock %}
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; NYC Python 2013</p>
      </footer>

    </div><!--/.fluid-container-->
    {% block extra_js %}{% endblock %}
  </body>
</html>
