<!DOCTYPE html>
<html lang="en">

{% include "includes/head.html" %}

<body data-spy="scroll" data-target=".scroller-spy" data-twttr-rendered="true">

<!--START MAIN-WRAPPER-->
<div class="main-wrapper">
<!--START MAIN-WRAPPER-->

<!-- TOP SECTION-->
<section class="headertop needhead" id="header-section">

{% include "includes/header.html" %}

<!-- HEADER MARKETING SLOGAN-->
<header class="container">
	<div class="row-fluid">
		<div class="wrap-hero">
			<div class="hero-unit text-center">
				<!--LOGO-->
				<div class="logo">
					<a href="#" title="Scroll&amp;Strap">
						<img src="{{ url_for('static', filename='img/logo_1.png') }}" alt="logo"/>
					</a>
				</div>
				<!--/ LOGO-->

					<div class="inner-wrap-hero">

						<h1 class="text-center main-color">

						<span>NYC Python User Group<!--INTRODUCING SCROLL&amp;STRAP!--></span>
							<span class="visible-desktop">Meet other local Python Programming Language enthusiasts!</span>


						</h1>

					</div>
				<!--<hr class="half">-->
			<span class="gobottom" id="nav2">
					<a href="#features-section" title="">
						<i class="fa-icon-chevron-down fa-icon-large"></i>
					</a>
			</span>


			</div>
		</div><!-- / HERO UNIT-->
	</div><!-- / HERO WRAP-->
</header><!-- / HEADER MARKETING SLOGAN container-->

</section><!--/ TOP SECTION-->

<!-- /SERVICE SECTION-->
<section  id="features-section" class="section-2">
	<div class="bg-wraper parallax-point-event">
	<div class="container">
		<div class="row-fluid">
	<!-- PROJECTS HEADER-->
			<header class="" >
				<div class="text-center page-header">
					<h3 class="">
						<span class="white"><!-- WHITE SPACE-->
							Our <span class="main-color">Events</span>
						</span>
					</h3>
				</div>
			</header>
		</div>
</div><!-- /SERVICE HEADER-->
	<div class="container">
		<div class="row-fluid">
		<!-- FEATURE ITEM-->
			<div class="span3 effect-box-1">
				<span class="label text-center">
								<i class="fa-icon-star fa-icon-large"></i>
				</span>
				<h4 class="features-title">
					<span class="main-color">Talks</span>
				</h4>
				<p class=""> Description of talks</p>
	</div><!-- END FEATURE ITEM-->


		<!-- FEATURE ITEM-->
		<div class="span3 effect-box-2">
			<span class="label text-center">
			<i class="fa-icon-star fa-icon-large"></i>
			</span>
			<h4 class="features-title">
				<span class="main-color">Weekly</span> Office Hours
			</h4>
			<p class="">NYC Python Meetup Office Hours (No recruiters, no hiring managers):<br /><br />
			Every Tuesday evening, 6:30-10PM at Fancy Hands, 135 Grand Street, 10013 http://fancyhands.com/ </p>
		</div><!-- END FEATURE ITEM-->

		<!-- FEATURE ITEM-->
		<div class="span3 effect-box-3">
			<span class="label text-center">
			<i class="fa-icon-star fa-icon-large"></i>
			</span>
			<h4 class="features-title">
				<span class="main-color">Saturday</span> Study Group
			</h4>
			<p class=""> This will be a weekly event, run by a rotating group of organizers. <br /><br />
			Follow #NYCPythonMeetup for live event changes, and tweet here if you get lost.<br /><br />

			<a href="https://groups.google.com/forum/?fromgroups#!forum/nycpython-weekly">Join the mailing list!</a></p>
		</div>
		<!-- END FEATURE ITEM-->
		<!-- FEATURE ITEM-->
		<div class="span3 effect-box-4">
			<span class="label text-center">
			<i class="fa-icon-star fa-icon-large "></i>
			</span>
			<h4 class="features-title">
				<span class="main-color">Sunday</span> Study Group
			</h4>
			<p class="">This will be a weekly event at AlleyNYC, run by a rotating group of organizers. <br /><br />
			Follow #NYCPythonMeetup for live event changes, and tweet here if you get lost.<br /><br />

			<a href="https://groups.google.com/forum/?fromgroups#!forum/nycpython-weekly">Join the mailing list!</a></p>
		</div>
		<!-- FEATURE ITEM-->
		</div><!--/ ROW-FLUID-->
		<hr/>
	</div><!--/CONTAINER-->
</div><!-- / BG WRAPER-->

</section>

	<!-- /FEATURE section-->

	<!-- /SLOGAN section-->
	<section class="section-3" id="slogan-section-2">
		<div class="bg parallax-point-event">
			<div class="container">

			<!-- BADGE FEATURED-->
			<div class="row-fluid">
				<div class="span12 text-center">
					<div class="featured-badge white">
						FEATURED EVENTS
					</div>
				</div>
			</div>
			<!-- / BADGE FEATURED-->

			<!--  FEATURED ITEMS -->
					<div class="browser-shot-2">
						<div class="browser-header"></div>
						<img src="http://placekitten.com/350/202" alt=""/><!-- PLACE YOUR IMAGE HERE -->
					</div>
					<div class="browser-shot-1">
						<div class="browser-header"></div>
						<img src="http://placekitten.com/600/375" alt=""/>
					</div>
					<div class="browser-shot-3">
						<div class="browser-header"></div>
						<img src="http://placekitten.com/300/175" alt=""/>
					</div>
			<!--  FEATURED ITEMS -->



			</div><!-- /container-->
		</div><!-- /row-->

</section> <!--/SLOGAN section-->


<!-- /TEAM SECTION-->
<section class="" id="team-section">
		<!-- TEAM HEADER-->
	<div class="container">
		<div class="row">
			<header class="" >
				<div class=" text-center page-header">

					<h3>
					<span class="white">ABOUT US</span>
					</h3>

				</div>
			</header>
		</div>
	</div>

	<div class="container">
		<div class="row-fluid">





<!-- ABOUT ITEM--><div class="span9">

		<!-- IMAGE CONTAINER-->

				<h3 class="main-color-line">About us</h3>
				<p class="">
					Welcome to the NYC Python Group, dedicated to promoting Python in the NYC community. This group is for anyone interested in Python software development, where all levels of knowledge are welcome to collaborate, learn, and share ideas. We hold a number of events each month, including tutorial events, nights-of-talk, lightning-talks, micro-hackathons, study groups, API nights, hack-and-tells, weekly office hours, and project nights. We typically meet on Tuesdays, Saturdays, and Sundays.
				</p>

				<h3 class="main-color-line">Our vision</h3>
				<p class="">
					We do good things.
				</p>

		<!--END IMAGE CONTAINER-->

		 <!-- CAPTION -->


</div><!-- / ABOUT ITEM-->
<!-- TEAM ITEM--><div class="thumbnail span3">

		<!-- IMAGE CONTAINER-->
            <div class="sample project-item-image-container">
				<img src="http://placekitten.com/260/195" alt="">
			 </div>
		<!--END IMAGE CONTAINER-->

		 <!-- CAPTION -->

	<div class="caption">
		<div class="transit-to-top">
				<p class="caption-descr">
				Contect with us on social media
				</p>
	<div class="widget_nav_menu">
		<ul class="social-bottom">
			<li><span class="badge badge-info"><a href="http://twitter.com/NYCPythonMeetup" title=""><i class="fa-icon-twitter"></i></a></span></li>
			<li><span class="badge badge-info"><a href="https://github.com/NYCPython" title=""><i class="fa-icon-github-alt"></i></a></span></li>
			<li><span class="badge badge-info"><a href="https://meetup.com/NYCPython" title=""><i class="fa-icon-user"></i></a></span></li>
			<li><span class="badge badge-info"><a href="mailto:" title=""><i class="fa-icon-envelope"></i></a></span></li>
		</ul>

	</div>
		</div> <!--END CAPTION -->
	</div><!-- END: THUMBNAIL -->
</div><!-- TEAM ITEM-->
		</div><!--/ROW FLUID-->


		<!-- CLIENTS-->
	</div><!--/CONTAINER-->
</section><!-- /TEAM SECTION-->

<!-- /SLOGAN section-->
<section class="" id="slogan-section-1">
	<div class="bg">
	<div class="container">
	<!-- SLOGAN-->
			<div class="row-fluid">
				<span class="logo"><!--LOGO-->
					<a href="#" title="Scroll&amp;Strap">
						<img src="{{ url_for('static', filename='img/logo_1_orange.png') }}" alt="logo">
					</a>
				</span>

				<div class="span12 text-center">
					<span class="large-slogan main-color">
						Come join us at our events!
					</span>
				</div><!-- /span12-->
			</div><!-- /row-fluid-->
<!-- / SLOGAN-->

<!-- BUTTON GO BOTTOM -->
			<div class="row-fluid">
				<div class="span12 text-center">
					<span class="goprice active" id="nav5">
					<a href="#portfolio-section" title="">
						<i class="fa-icon-double-angle-down fa-icon-large"></i>
					</a>
				</span></div>
			</div>
<!-- / BUTTON GO BOTTOM -->
	</div><!-- /container-->
	</div><!-- BG-->
</section><!--/SLOGAN section-->

<!-- PORTFOLIO SECTION  -->
<section id="portfolio-section">
	<div class="container">
		<div class="row">
<!-- PORTFOLIO  HEADER -->
			<div class="text-center">
				<header>
			<div class="span12 text-center page-header">

				<h3><span class="white">Our Members</span></h3>

			</div>


				</header><!-- / PORTFOLIO SECTION HEADER-->
			</div><!-- /text center-->
		</div><!--/ROW-->
	</div><!--/CONTAINER-->

	<div class="container">

		<!--###################-->
		<!-- START PORTFOLIO ITEM -->
		<!--###################-->
		<div id="container-folio" class="row">



		<!-- portfolio item -->
		<div class="span6  project-item graphics box">

		<div id="myCarousel" class="carousel slide">

			  <!-- Carousel items -->
			  <div class="carousel-inner">
				<div class="active item"><a rel="prettyPhoto[gallery]" href="http://placekitten.com/465/293" title="portfolio image">
					<img src="http://placekitten.com/600/375" alt="ScrollStrap" />
				</a>

				</div>
				<div class="item"><a rel="prettyPhoto[gallery]" href="http://placekitten.com/465/293" title="portfolio image">
					<img src="http://placekitten.com/460/288" alt="ScrollStrap" />
				</a>
				<div class="carousel-caption">

					<p class="">
						<strong><span class="main-color">THIS Bootstrap</span></strong>
						Carousel integrated with PrettyPhoto jQuery plugin. Just click on photo for enlarge it.
						</p>

					</div>
				</div>
			  </div>
			  <!-- Carousel nav -->
			  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>

		</div><!-- END: portfolio item -->

		<!-- portfolio item -->
		<div class="span6  project-item graphics box">


			<h4 class="main-color-line">
				<span class="white">
				<strong>Organizing <span class="main-color">Committee</span></strong>
				</span>
				</h4>

				<p class="lead">
					<ul>
						<li>James P: chair<br/>
						james@nycpython.com // @dontusethiscode</li>
						<li>Jon B</li>
						<li>Celia L</li>
						<li>Emily C</li>
						<li>Andy D</li>
						<li>Gloria W</li>
					</ul>
				</p>


				<p class="">

					<a href="#" class="btn btn-action">
					<i class="fa-icon-link"></i>
					Visit github repository
				</a>

				</p>


		</div><!-- END: portfolio item -->

		</div><!--/ ROW FEATURED-->

		<div class="container">
		<div class="row">
<!-- PORTFOLIO  HEADER -->
			<div class="text-center">
				<header>
					<div class="span12 text-center page-header">

								<h3>
								<span class="white">
								MORE <span class="main-color">photos</span>
								</span>
								</h3>

					</div>


				</header><!-- / PORTFOLIO SECTION HEADER-->
			</div><!-- /text center-->
		</div><!--/ROW-->
	</div><!--/CONTAINER-->
		<div class="row">
		<!-- portfolio item -->
		<div class="span3  project-item graphics box">
			<div class="thumbnail" >
				<!-- IMAGE CONTAINER-->
				<a rel="prettyPhoto[gallery]" href="http://placekitten.com/465/293" title="portfolio image">
					<img src="http://placekitten.com/465/293" alt="iPhonegraphy" />
				</a>
				<!--END IMAGE CONTAINER-->
				<!-- CAPTION -->
				<div class="caption">
					<h4 class="">Buttons</h4>
						<p class="caption-descr">
						Click click.
						</p>
				</div><!--END CAPTION -->
			</div><!-- END: THUMBNAIL -->
		</div><!-- END: portfolio item -->

			<!-- portfolio item -->
		<div class="span3  project-item graphics box">
			<div class="thumbnail" >
				<!-- IMAGE CONTAINER-->
				<a rel="prettyPhoto[gallery]" href="http://nycpython.com" title="portfolio image">
					<img src="http://placekitten.com/269/201" alt="iPhonegraphy" />
				</a>
				<!--END IMAGE CONTAINER-->
				<!-- CAPTION -->
				<div class="caption">
					<h4 class="">Kittens</h4>
						<p class="caption-descr">
						Caption describing photo.
						</p>
				</div><!--END CAPTION -->
			</div><!-- END: THUMBNAIL -->
		</div><!-- END: portfolio item -->

			<!-- portfolio item -->
		<div class="span3  project-item graphics box">
			<div class="thumbnail" >
				<!-- IMAGE CONTAINER-->
				<a rel="prettyPhoto[gallery]" href="http://nycpython.com" title="portfolio image">
					<img src="http://placekitten.com/270/200" alt="iPhonegraphy" />
				</a>
				<!--END IMAGE CONTAINER-->
				<!-- CAPTION -->
				<div class="caption">
					<h4 class="">Kittens</h4>
						<p class="caption-descr">
						Longer caption describing photo shown above.
						</p>
				</div><!--END CAPTION -->
			</div><!-- END: THUMBNAIL -->
		</div><!-- END: portfolio item -->

			<!-- portfolio item -->
		<div class="span3  project-item graphics box">
			<div class="thumbnail" >
				<!-- IMAGE CONTAINER-->
				<a rel="prettyPhoto[gallery]" href="http://nycpython.com" title="portfolio image">
					<img src="http://placekitten.com/268/200" alt="iPhonegraphy" />
				</a>
				<!--END IMAGE CONTAINER-->
				<!-- CAPTION -->
				<div class="caption">
					<h4 class="">Kittens</h4>
						<p class="caption-descr">
						Caption describing photo.
						</p>
				</div><!--END CAPTION -->
			</div><!-- END: THUMBNAIL -->
		</div><!-- END: portfolio item -->

		</div><!--/innner folio row-->



	</div><!--CONTAINER-->


</section><!--/ portfolio section-->

<!-- /SLOGAN section-->
<section class="" id="slogan-section-3">
<div class="container">
	<div class="row-fluid">
		<span class="logo"><!--LOGO-->
			<a href="#" title="Scroll&amp;Strap">
				<img src="{{ url_for('static', filename='img/logo_1_orange.png') }}" alt="logo"/>
			</a>
		</span><!--/ LOGO-->

		<div class="span12 text-center">
			<span class="large-slogan main-color">
				our 3488+ members are very diverse.
			</span>
			<span class="large-slogan">
				- text goes here
			</span>
			<span class="large-slogan">
				text goes here
			</span>
			<span class="large-slogan">
				text goes here
			</span>
			<span class="large-slogan">
				text goes here
			</span>
		</div><!-- /span12-->
	</div><!-- /row-fluid-->

			<!-- GOBOTTOM BUTTON-->
			<div class="row-fluid">
				<div class="span12 text-center">
					<span class="goprice" id="nav4">
					<a href="#price-section" title="">
						<i class="fa-icon-double-angle-down fa-icon-large"></i>
					</a>
					</span>
				</div>
			</div>
			<!-- / GOBOTTOM BUTTON-->

	</div><!-- /container-->
</section><!--/SLOGAN section-->

<section id="price-section">
<!-- PRICE SECTION HEADER ############# -->
	<div class="container">
		<div class="row">
			<div class="text-center">
				<header id="portfolio">
					<div class="span12 text-center page-header">
						<h3>
							<span class="white">
								Hosting Rules
							</span>
						</h3>
					</div>
				</header>
			</div>
		</div>
	</div>
<!-- / PRICE SECTION HEADER ############# -->

<!-- PRICE SECTION ############# --
<div class="container">
	<div class="row-fluid">
			<div class="span4">
			<div class="pricing-table">
                <div class="pricing-table-header">

                    <span class="heading">Option1</span>
                    <span class="price-value">$<span>0</span><span class="mo"><!--/mo--</span></span>

				</div>
                <div class="pricing-table-space"></div>
                <div class="pricing-table-features">
                   <p><i class="fa-icon-ok main-color"></i></p>
              </div>
                <div class="pricing-table-sign-up">
                    <a href="#" class="btn btn-large  btn-block btn-inverse">Link</a>
            </div>
            </div>
			</div>

		<div class="span4">
            <div class="pricing-table pricing-table-highlighted">
                <div class="pricing-table-header">

                    <span class="heading">Option2</span>
                    <span class="price-value">$<span>0</span><span class="mo"><!--/mo-></span></span>

				</div>
                <div class="pricing-table-space"></div>
                <div class="pricing-table-text">
                    <p><span class="attention">  attention</span></p>

                </div>
                <div class="pricing-table-features">
                    <p><i class="fa-icon-ok main-color"></i> <strong>Multiple</strong> installation</p>
                </div>
                <div class="pricing-table-sign-up">
                    <a href="#" class="btn btn-large  btn-block btn-warning">Link</a>
            </div>
            </div>
		</div>

		<div class="span4">
            <div class="pricing-table">
                <div class="pricing-table-header">

				<span class="heading">Extended license</span>
                    <span class="price-value">$<span>0</span><span class="mo"><!--/mo-></span></span>
                </div>
                <div class="pricing-table-space"></div>

                <div class="pricing-table-features">
                   <p><i class="fa-icon-ok main-color"></i> <strong>to do</strong> list</p>
                   <p><strong>another</strong> item</p>
                </div>
            <div class="pricing-table-sign-up">
                    <a href="#" class="btn btn-large  btn-block btn-inverse">Link</a>
            </div>
        </div>
	</div>
	</div><!-- / row-fluid--
</div><!-- / CONTAINER-->
<hr/>
<!-- PRICE SECTION SLOGAN ############# -->
	<div class="container">
		<div class="row">
			<div class="text-left">

					<div class="span12 ">
						<div class="well">
							<div class="well-wrapp">
								<p class="lead text-large text-left">
									<h2>Hosting rules</h2>

<ul>
<li>Host must be able to accommodate <span class="main-color"><strong>>= 100 attendees</strong></span>, mostly seated, in a room with a projector. The session can also be repeated over the course of one month with 25 people per week, if your space cannot accommodate a large group. You must commit to accommodating 100 people, either over a month, or in one evening. </li>
<li>There is NEVER ever a sign in sheet unless a building security guard requires and keeps it.</li>
<li>To announce that you're hiring, sponsor food and drinks at a Meetup. This gives you five to ten minutes to talk about what your company does and your current open positions. </li>
<li>Hosting gives you the same five to ten minutes of marketing and job plug time mentioned above, and your staff also gets to attend and mingle with the group.</li>
<li>Hosting does _not_ get you a mailing list of attendees, nor does it give you the right to solicit attendees directly on a one-on-one basis. Your goal should be to encourage attendees to approach you regarding job placement.</li>
<li>Recruiters attending these events must make it clear that they are recruiters, since these events are for developers, and are not for the purposes of solicitation.</li>
<li>So many ask "Can I simply speak for ten minutes and announce that I am hiring?". The answer is no, unless you give something to the community. Everyone is hiring right now, and if we allowed this, the first hour of every Meetup would be filled with announcements of companies hiring. No one wants this. Consider giving something small to the community in exchange for the ability to announce hiring, such as a few lightning talks, an in-depth technical discussion, the purchase of pizza or beer for a Meetup, etc.</li>
<li>Complaints of privacy violations or unwanted/unexpected solicitation, among other things, may get you banned from the group. People are banned in a fully transparent manner. The banning and the reason are clearly stated to the entire group, and usually happen after numerous complaints and/or blatant violations of the rules.</li>

</ul>
							</p>
							</div>
						</div>
					</div>

			</div>
		</div>
	</div>
<!-- / PRICE SECTION SLOGAN ############# -->
</section><!-- PRICE SECTION ############# -->


<!-- ###################### FOOTER #######################
    ================================================== -->
<footer class="footer">
<section id="contact-section" class="arrow_box">
  <div class="container">
	<div class="row-fluid">
   <!-- CONTAC HEADER-->
   <div class="text-center">
	<div id="foot-head">
		<div class="span12 text-center page-header">

					<h3>
					<span class="white">
					<span class="main-color">CONTACT</span> INFORMATION
					</span>
					</h3>
		</div>
	</div>
	</div>
</div>
      <!--/ CONTAC HEADER-->
    <div class="row-fluid">

     <div class="span3">
        <h4 class="main-color-line"><i class="fa-icon-comments-alt main-color"></i> <span>What people say</span></h4>
        <blockquote>
			<p>
				Random text here
			</p>
			 <span class="test-caption"> <strong>Name of person</strong></span>

		</blockquote>
		<blockquote>
			<p>
				Random text here
			</p>
			<span class="test-caption"><strong>Name of person</strong></span>

		</blockquote>
      </div>




	<div class="span6">
	<span class="logo"><!--LOGO-->
			<a href="#" title="logo">
				<img src="{{ url_for('static', filename='img/logo_1.png') }}" alt="logo">
			</a>
		</span>
		<hr/>

			<address>
				<strong>Weekly Office Hours</strong><br>
				<i class="fa-icon-map-marker"></i> 135 Grand Street, New York, NY 10013<br/>
				<i class="fa-icon-phone-sign"></i> we don't have a phone
				<div class="foot-line">email@address.com</div>

			</address>



      </div>




		<div class="span3">
        <h4 class="main-color-line text-center"><i class="fa-icon-share main-color"></i> <span>Follow us</span></h4>
			<ul class="social-bottom">
              <li><span class="badge badge-info"><a href="#" title=""><i class="fa-icon-facebook"></i></a></span></li>
				<li><span class="badge badge-info"><a href="#" title=""><i class="fa-icon-twitter"></i></a></span></li>
				<li><span class="badge badge-info"><a href="#" title=""><i class="fa-icon-github-alt"></i></a></span></li>
				<li><span class="badge badge-info"><a href="#" title=""><i class="fa-icon-google-plus"></i></a></span></li>
				<li><span class="badge badge-info"><a href="#" title=""><i class="fa-icon-linkedin"></i></a></span></li>
			</ul>



    </div>

	 <div class="span3">
        <h4 class="main-color-line"><i class="fa-icon-twitter main-color"></i> <span>Twitter feed</span></h4>
        <div id="tweets">
		</div>
      </div>

    </div><!-- / ROW-->

  </div>

	</section>
	<section id="map-section">
		<!-- MAP DIV // !Don't remove this !Important -->
			<div id="map"></div>

	<!-- MAP DIV // !Don't remove this !Important -->
	</section>
</footer>

<!-- END: FOOTER -->
</div>
<!-- END: MAIN-WRAPPER-->
<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

{% include "includes/javascript.html" %}

</body>
</html>
