 <!-- ################-->
 <!-- START TOP MENU -->
 <!-- ################-->
  <nav class="nav-top">
    <div class="navbar navbar-static-top" id="topnavbar">
      <!-- navbar-fixed-top -->
      <div class="navbar-inner" id="navbartop">
        <div class="container"> <a class="brand" href="index.html">
        <span><i class="fa-icon-circle-arrow-down"></i> NYC PYTHON</span></a>
          <div id="main-nav" class="scroller-spy">
            <nav class="nav-collapse collapse" >
              <ul class="nav" id="nav">
                <li class="active"><a href="#header-section">Home</a> </li>
                <li><a href="#features-section">Events</a> </li>
                <li><a href="#team-section">About us</a> </li>
                <li><a href="#portfolio-section">Members</a> </li>
                <li><a href="#price-section">Hosting</a> </li>
                <li><a href="#contact-section">Contact</a> </li>
              </ul>
            </nav>

          </div>
        </div>
      </div>
    </div>

   <!-- ################-->
 <!-- END TOP MENU -->
 <!-- ################-->
            </nav>
            <!-- END HEADER headertop NAV -->
